[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "evinf"]
	path = evinf
	url = https://github.com/doktorandahl/evinf
[submodule "pintervals"]
	path = pintervals
	url = https://github.com/doktorandahl/pintervals
[submodule "uncertainUCDP"]
	path = uncertainUCDP
	url = https://github.com/doktorandahl/uncertainucdp
